<div class="branding">
  <a class="nav-link">
    <cds-icon shape="event" />
    <span class="title">Job Board</span>
  </a>
</div>
<div class="header-nav">
  <a class="nav-link" routerLink="/jobs" routerLinkActive="active">
    <span class="nav-text">Jobs</span>
  </a>
  <a class="nav-link" routerLink="/applicant" routerLinkActive="active">
    <span class="nav-text">Applicant</span>
  </a>
  <a class="nav-link" routerLink="/employee" routerLinkActive="active">
    <span class="nav-text">Employee</span>
  </a>
</div>
