@if (question(); as question) {
  @switch (question.type) {
    @case (QuestionType.Text) {
      <clr-input-container>
        <label
          [for]="fieldKey()"
          [class.clr-required-mark]="question.isRequired"
        >
          {{ question.label }}
        </label>
        <input
          clrInput
          type="text"
          [id]="fieldKey()"
          [name]="fieldKey()"
          [formControl]="getControl(fieldKey())"
          [required]="question.isRequired"
          [placeholder]="question.placeholder ?? ''"
        />
        @if (question.helperText; as helperText) {
          <clr-control-helper>
            {{ helperText }}
          </clr-control-helper>
        }
        <clr-control-error>Please provide a valid value</clr-control-error>
      </clr-input-container>
    }
    @case (QuestionType.Tel) {
      <clr-input-container>
        <label
          [for]="fieldKey()"
          [class.clr-required-mark]="question.isRequired"
        >
          {{ question.label }}
        </label>
        <input
          clrInput
          prefix="+1 "
          mask="(000) 000-0000"
          type="tel"
          [showMaskTyped]="true"
          [id]="fieldKey()"
          [name]="fieldKey()"
          [formControl]="getControl(fieldKey())"
          [required]="question.isRequired"
          [placeholder]="question.placeholder"
        />
        @if (question.helperText; as helperText) {
          <clr-control-helper>
            {{ helperText }}
          </clr-control-helper>
        }
        <clr-control-error>Please enter a valid phone number</clr-control-error>
      </clr-input-container>
    }
    @case (QuestionType.Email) {
      <clr-input-container>
        <label
          [for]="question.key"
          [class.clr-required-mark]="question.isRequired"
        >
          {{ question.label }}
        </label>
        <input
          clrInput
          type="email"
          [id]="fieldKey()"
          [name]="fieldKey()"
          [formControl]="getControl(fieldKey())"
          [required]="question.isRequired"
          [placeholder]="question.placeholder"
        />
        @if (question.helperText; as helperText) {
          <clr-control-helper>
            {{ helperText }}
          </clr-control-helper>
        }
        <clr-control-error>
          Please enter a valid email address
        </clr-control-error>
      </clr-input-container>
    }
    @case (QuestionType.Radio) {
      <clr-radio-container>
        <label
          [for]="fieldKey()"
          [class.clr-required-mark]="question.isRequired"
        >
          {{ question.label }}
        </label>
        @for (option of question.options; track option.key) {
          <clr-radio-wrapper>
            <input
              clrRadio
              type="radio"
              [name]="fieldKey()"
              [formControl]="getControl(fieldKey())"
              [id]="fieldKey() + option.key"
              [value]="option.label"
            />
            <label [for]="fieldKey() + option.key">{{ option.label }}</label>
          </clr-radio-wrapper>
        }
        @if (question.helperText; as helperText) {
          <clr-control-helper>
            {{ helperText }}
          </clr-control-helper>
        }
        <clr-control-error>Please select an option</clr-control-error>
      </clr-radio-container>
    }
    @case (QuestionType.TextArea) {
      <clr-textarea-container>
        <label
          [for]="fieldKey()"
          [class.clr-required-mark]="question.isRequired"
        >
          {{ question.label }}
        </label>
        <textarea
          clrTextarea
          [id]="fieldKey()"
          [name]="fieldKey()"
          [formControl]="getControl(fieldKey())"
          [required]="question.isRequired"
          [placeholder]="question.placeholder ?? ''"
        ></textarea>
        @if (question.helperText; as helperText) {
          <clr-control-helper>
            {{ helperText }}
          </clr-control-helper>
        }
        <clr-control-error>Please provide a valid response</clr-control-error>
      </clr-textarea-container>
    }
    @case (QuestionType.Date) {
      <clr-date-container>
        <label
          [for]="question.key"
          [class.clr-required-mark]="question.isRequired"
        >
          {{ question.label }}
        </label>
        <input
          clrDate
          type="date"
          [id]="question.key"
          [name]="question.key"
          [formControl]="getControl(fieldKey())"
          [required]="question.isRequired"
          [placeholder]="question.placeholder ?? ''"
          [min]="getMinDate()"
        />
        @if (question.helperText; as helperText) {
          <clr-control-helper>
            {{ helperText }}
          </clr-control-helper>
        }
      </clr-date-container>
    }
  }
}
