@if (job(); as job) {
  <h1 cds-text="display">{{ job.title }}</h1>
  @if (job.department; as department) {
    <p><strong>Department:</strong> {{ department }}</p>
  }
  <p><strong>Location:</strong> {{ job.location }}</p>
  @if (job.jobType; as jobType) {
    <p><strong>Job Type:</strong> {{ jobType }}</p>
  }
  @if (job.datePosted; as datePosted) {
    <p><strong>Date Posted:</strong> {{ datePosted | date }}</p>
  }
  @if (job.about; as about) {
    <p><strong>About:</strong></p>
    <p>{{ about }}</p>
  }
  <p><strong>Description:</strong></p>
  <p>{{ job.description }}</p>

  @if (job.responsibilities.length > 0) {
    <p><strong>Responsibilities:</strong></p>
    <ul>
      @for (responsibility of job.responsibilities; track $index) {
        <li>
          {{ responsibility }}
        </li>
      }
    </ul>
  }

  @if (job.qualifications.length > 0) {
    <p><strong>Qualifications:</strong></p>
    <ul>
      @for (qualification of job.qualifications; track $index) {
        <li>
          {{ qualification }}
        </li>
      }
    </ul>
  }

  @if (job.benefits) {
    <p><strong>Benefits:</strong></p>
    <ul>
      @for (benefit of job.benefits; track $index) {
        <li>
          {{ benefit }}
        </li>
      }
    </ul>
  }

  @if (job.footer; as footer) {
    <p>{{ footer }}</p>
  }

  <p>{{ DISCLAIMER }}</p>

  <button class="btn btn-primary" [routerLink]="['/jobs', id(), 'apply']">
    Apply Now
  </button>
} @else {
  <p>Job not found.</p>
}
