@if (job(); as job) {
  <h2>{{ job.title }}</h2>
  <p><strong>Department:</strong> {{ job.department }}</p>
  <p><strong>Location:</strong> {{ job.location }}</p>
  <p><strong>Job Type:</strong> {{ job.jobType }}</p>
  <p><strong>Date Posted:</strong> {{ job.datePosted | date }}</p>
  <p><strong>Description:</strong></p>
  <p>{{ job.description }}</p>

  @if (job.responsibilities.length > 0) {
    <p><strong>Responsibilities:</strong></p>
    <ul>
      @for (responsibility of job.responsibilities; track $index) {
        <li>
          {{ responsibility }}
        </li>
      }
    </ul>
  }

  @if (job.qualifications.length > 0) {
    <p><strong>Qualifications:</strong></p>
    <ul>
      @for (qualification of job.qualifications; track $index) {
        <li>
          {{ qualification }}
        </li>
      }
    </ul>
  }

  <button class="btn btn-primary" [routerLink]="['/jobs', id(), 'apply']">
    Apply Now
  </button>
} @else {
  <p>Job not found.</p>
}
