<h1 cds-text="title">Job Application Form</h1>

@defer (when formInitialized()) {
  <form clrForm [formGroup]="form" (ngSubmit)="onSubmit()">
    @for (question of shownQuestions(); track question.key) {
      @switch (question.type) {
        @case (QuestionType.Text) {
          <clr-input-container>
            <label [for]="question.key">{{ question.label }}</label>
            <input
              clrInput
              [type]="question.type"
              [id]="question.key"
              [name]="question.key"
              [formControlName]="question.key"
              [required]="question.required"
              [placeholder]="question.placeholder ?? ''"
            />
            @if (question.helperText; as helperText) {
              <clr-control-helper>
                {{ helperText }}
              </clr-control-helper>
            }
            <clr-control-error>
              Error message that appears after focus is lost and control is
              invalid
            </clr-control-error>
          </clr-input-container>
        }
        @case (QuestionType.Tel) {
          <clr-input-container>
            <label [for]="question.key">{{ question.label }}</label>
            <input
              clrInput
              prefix="+1 "
              mask="(000) 000-0000"
              [showMaskTyped]="true"
              [type]="question.type"
              [id]="question.key"
              [name]="question.key"
              [formControlName]="question.key"
              [required]="question.required"
              [placeholder]="question.placeholder"
            />
            <clr-control-helper>
              Helper text that shows while it is pristine and valid
            </clr-control-helper>
            <clr-control-error>
              Error message that appears after focus is lost and control is
              invalid
            </clr-control-error>
          </clr-input-container>
        }
        @case (QuestionType.Email) {
          <clr-input-container>
            <label [for]="question.key">{{ question.label }}</label>
            <input
              clrInput
              [type]="question.type"
              [id]="question.key"
              [name]="question.key"
              [formControlName]="question.key"
              [required]="question.required"
              [placeholder]="question.placeholder"
            />
            <clr-control-helper>
              Helper text that shows while it is pristine and valid
            </clr-control-helper>
            <clr-control-error>
              Error message that appears after focus is lost and control is
              invalid
            </clr-control-error>
          </clr-input-container>
        }
        @case (QuestionType.Radio) {
          <clr-radio-container>
            <label [for]="question.key">{{ question.label }}</label>
            @for (option of question.options; track option.key) {
              <clr-radio-wrapper>
                <input
                  clrRadio
                  type="radio"
                  [name]="question.key"
                  [formControlName]="question.key"
                  [id]="option.key"
                  [value]="option.label"
                />
                <label [for]="option.key">{{ option.label }}</label>
              </clr-radio-wrapper>
            }
            <clr-control-error>
              Error message that appears after focus is lost and control is
              invalid
            </clr-control-error>
          </clr-radio-container>
        }
        @case (QuestionType.TextArea) {
          <clr-textarea-container>
            <label [for]="question.key">{{ question.label }}</label>
            <textarea
              clrTextarea
              [id]="question.key"
              [name]="question.key"
              [formControlName]="question.key"
              [required]="question.required"
              [placeholder]="question.placeholder ?? ''"
            ></textarea>
          </clr-textarea-container>
        }
        @case (QuestionType.Date) {
          <clr-date-container>
            <label [for]="question.key">{{ question.label }}</label>
            <input
              clrDate
              type="date"
              [id]="question.key"
              [name]="question.key"
              [formControlName]="question.key"
              [required]="question.required"
              [placeholder]="question.placeholder ?? ''"
            />
          </clr-date-container>
        }
      }
    }

    <button class="btn btn-primary" type="submit" [disabled]="form.invalid">
      Submit Application
    </button>
  </form>
}

<p>Are questions loaded? {{ areQuestionsLoaded() }}</p>
@defer (when areQuestionsLoaded()) {
  <form clrForm>
    <p>Is form valid? {{ isApplicationFormValid() }}</p>
    <p>Application form value: {{ applicationFormValue() }}</p>
    <p>Application form value JSONed: {{ applicationFormValue() | json }}</p>
  </form>
}
