<h1 cds-text="title">Job Application Form</h1>

<form clrForm [formGroup]="applicationFormRecord" (ngSubmit)="onSubmit()">
  @for (sectionTypeKey of sectionTypesKeys(); track sectionTypeKey) {
    <app-application-section [sectionTypeKey]="sectionTypeKey" />
    @if (canAddSection(sectionTypeKey)) {
      <button class="btn btn-primary" (click)="onAddSection(sectionTypeKey)">
        Add
      </button>
    }
  }
  <button
    class="btn btn-primary"
    type="submit"
    [disabled]="applicationFormRecord.invalid"
  >
    Submit Application
  </button>
</form>
